h2{
    font-size: 3em;
}

.description{
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 60vh;
    margin: auto;
}
p{
    text-align: left;
    padding: 15px;
}

#liste{
    font-size: 1.2em;
    background-color: white;
    border-radius: 5px;
}